<div class="row" style="margin-bottom: 1em">
  <h1>Inwork - The Tech@NYU Ad Network</h1>

  <p class="lead">Leaders, guests, and friends, please refer to this page in order to cross-promote our awesome events.</p>

  <%= link_to 'New Advertisement', new_advertisement_path, :class => 'btn btn-primary btn-large' %>
</div>


<% @advertisements.each do |advertisement| %>
  <div class="ad row">
    <div class="row">
      <div class="span12">
        <h3><%= advertisement.title %></h3>
      </div>
    </div>
    <div class="row">
      <div class="span7">
        <a href="<%= advertisement.ad_target_url %>">
          <img alt="<%= advertisement.alt_text %>" src="<%= advertisement.image.url(:regular) %>">
        </a>
      </div>
      <div class="span5">
        <p class="muted">Copy this and paste as HTML</p>
        <textarea class="copy-content"><%= advertisement.embed_string %></textarea>
        <td>
          <%= link_to 'Edit', edit_advertisement_path(advertisement), :class => 'btn btn-mini' %>
        </td>
        <td>
          <%= link_to 'Destroy', advertisement, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini' %>
        </td>
      </div>
    </div>
  </div>
<% end %>

<br />

