<h2>The Tech@NYU Network</h2>

<p>Leaders, guests, and friends, please refer to this page in order to cross-promote our awesome events.</p>

<% @advertisements.each do |advertisement| %>
  <div class="ad">
    <h3><%= advertisement.title %></h3>

    <a href="<%= advertisement.ad_target_url %>">
      <img alt="<%= advertisement.alt_text %>" src="<%= advertisement.image.url%>">
    </a>

    <textarea>
      <a href="<%= advertisement.ad_target_url %>">
      <img alt="<%= advertisement.alt_text %>" src="SOMETHING"></a>
    </textarea>
    <td><%= link_to 'Edit', edit_advertisement_path(advertisement) %></td>
    <td><%= link_to 'Destroy', advertisement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </div>
<% end %>

<br />

<%= link_to 'New Advertisement', new_advertisement_path %>
