<!DOCTYPE html>
<html>
<head>
  <title>Inwork - The Tech@NYU Ad Network</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">Tech@NYU Ad Network</a>
        <ul class="nav">
          <li><a href="<%= root_url %>">Ad Index</a></li>
          <li><a href="<%= new_advertisement_url %>">Create New Ad</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
